**/.git
# Do not copy the unbuilt chimara source to the image
# Well - actually leave it - but remove it later
# chimera*
# NEVER include singularity images floating around
*.simg
# NEVER include the Rosetta source bundle components
rosetta_src_*bundle*
