# DDG Repository configuration for running ddG inside a singularity container
# Note that binary programs and libraries are found in /psbadmin/rosettaV.VV/main...

[ddG]
repo_root=/dors/capra_lab/projects/ddg_repo


[ddG_monomer]
rosetta_root=/psbadmin/rosetta
rosetta_version=3.7
rosetta_main_dir=%(rosetta_root)s%(rosetta_version)s/main/
rosetta_bin_dir=%(rosetta_main_dir)s/source/bin
rosetta_database_dir=%(rosetta_main_dir)s/database
rosetta_ld_library_path=%(rosetta_bin_dir)s

[ddG_cartesian]
rosetta_root=/psbadmin/rosetta
rosetta_version=3.13
rosetta_main_dir=%(rosetta_root)s%(rosetta_version)s/main/
rosetta_bin_dir=%(rosetta_main_dir)s/source/bin
rosetta_database_dir=%(rosetta_main_dir)s/database
rosetta_ld_library_path=%(rosetta_bin_dir)s
