[ddG]
# Placeholder - ignore this key
ddg_monomer=This will be the ddg monomer

# repo_root must point to a writeable area of the file system where 
# ddg results for all structures
repo_root=/dors/capra_lab/projects/ddg_repo

# Te settings below are correct for container-based pipeline runs
# Do not change anything below
rosetta_root=/
rosetta_version=3.7
rosetta_main_dir=%(rosetta_root)s/rosetta-%(rosetta_version)s/main/
rosetta_bin_dir=%(rosetta_main_dir)s/source/bin
rosetta_database_dir=%(rosetta_main_dir)s/database
