#Global configuraton settings copied from the old v13.config file
[Genome_PDB_Mapper]
dbhost = vgi01.accre.vanderbilt.edu
dbname = pdbmap_v13
dbuser = psb_access
dbpass = psb-access
chgrp_to = capra_lab
pdb_dir = /dors/capra_lab/data/pdb/2018-04-19
swiss_dir = /dors/capra_lab/data/swissmodel/2017-10-30/SWISS-MODEL_Repository/
swiss_summary = /dors/capra_lab/data/swissmodel/2017-10-30/SWISS-MODEL_Repository/INDEX_JSON
modbase2013_dir = /dors/capra_lab/data/modbase/ModBase_H_sapiens_2013_GRCh37.70.pep.all/models/model/
modbase2013_summary = /dors/capra_lab/data/modbase/ModBase_H_sapiens_2013_GRCh37.70.pep.all/H_sapiens_2013_GRCh37.70.pep.all.summary.txt
modbase2016_dir = /dors/capra_lab/data/modbase/H_sapiens_2016/Homo_sapiens_2016/model/
modbase2016_summary = /dors/capra_lab/data/modbase/H_sapiens_2016/Homo_sapiens_2016.summary.txt
idmapping=/dors/capra_lab/data/uniprot/2018-04-18/idmapping/HUMAN_9606_idmapping_sprot.dat.gz
interpro_dir=/dors/capra_lab/data/interpro/
# idmapping = /dors/capra_lab/data/uniprot/idmapping/HUMAN_9606_idmapping_sprot.dat.gz
sec2prim = /dors/capra_lab/data/uniprot/2018-04-18/uniprot/idmapping/uniprot_sec2prim_ac.txt
sprot = /dors/capra_lab/data/uniprot/2018-04-18/idmapping/uniprot_sprot_human.dat
pfam = pfam/pdb_pfam_mapping.txt
sifts = data/sifts/xml
create_new_db = False
vep = /dors/capra_lab/opt/ensembl-tools-release-87/scripts/variant_effect_predictor/variant_effect_predictor.pl
chimera_headless = /dors/capra_lab/users/mothcw/chimera/bin/chimera

# config_dict parameters specific to udn_pipeline.py
dssp_exe = /dors/capra_lab/projects/psb_collab/psb_pipeline/data/dssp/dssp_local.exe
chimera_headless = /dors/capra_lab/users/mothcw/chimera/bin/chimera
output_rootdir = /dors/capra_lab/projects/psb_collab
collaboration = UDN

[PathProx]
# Default pathprox options for neutral and disease variants
# Custom variants may be specified with ..._variant_filename options
# Overrides should be placed in case-specific, pr perhaps user-specific
# .config files
neutral_variant_sql_label=exac
neutral_variant_short_description=EXAC
disease1_variant_sql_label=clinvar
disease1_variant_short_description=Clinvar
disease2_variant_sql_label=cosmic
disease2_variant_short_description=COSMIC

[SlurmParametersAll]
account = capra_lab_csb
ntasks = 1

[SlurmParametersPathProx]
time = 1-0
mem = 30GB


[SlurmParametersUDNSequence]
# These are for ddg and sequence analysis (udn_pipeline.py configs)
time = 12:00:00
mem = 10GB

[SlurmParametersUDNStructure]
# These are for ddg and sequence analysis (udn_pipeline.py configs)
time = 96:00:00
mem = 10GB

[SlurmParametersMakeGeneDictionaries]
# Run casewide, psb_genedicts.py is not very demanding of resources
time = 0-1
mem = 30GB


[SlurmParametersReport]
# These are used when the psb_rep.py program is called with --slurm to make a .slurm run
# to simultaneously run all the reports  Usually only done for BIG mutation sets.
time = 1:00:00
mem = 3GB
